/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 800px;
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header__title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.header__subtitle {
    font-size: 1.2rem;
    color: #666;
}

.search-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.search-section__title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.search-form__label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.search-form__input,
.search-form__textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filter-options {
    margin-bottom: 10px;
}

.search-form__submit {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.search-form__submit:hover {
    background-color: #45a049;
}